<div class="mt-8">
   <div class="flex pb-11 md:pb-10 bg-slate-400/70 relative">
      <div class="w-[55%]">
         <div class="absolute md:space-y-8 space-y-2 left-3 top-2 md:left-28 md:top-28">
            <h1 class=" font-extralight tracking-wider md:text-3xl text-sm">Landing Page</h1>
            <div class="md:text-5xl text-3xl font-bold">
               <span class="block text-slate-600">Online</span>
               <span class="text-slate-500/85">Shopping</span>
            </div>
            <p class="w-[48%] text-sm text-slate-700 truncate tracking-normal  md:tracking-tight font-extralight text-wrap">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, fugit iusto possimus atque aliquam, exercitationem architecto animi iure optio mollitia ab temporibus alias consequatur assumenda ea cum odio nemo eum.
            </p>
            <button [routerLink]="['/anonymous/signup']" class="md:px-8 text-sm px-3 py-1 md:py-2 rounded-xl hover:text-white hover:bg-slate-700 duration-200 transition ease-in-out border-2 hover:border-double hover:border-slate-200 bg-slate-400 ">
               SIGN UP
            </button>
         </div>
      </div>
      <div >
         <img class="md:w-[90%] mx-auto h-[35vh] object-fill md:h-[89vh]" src="/rb_2148203334.png" alt="">
      </div>
   </div>
   <app-category></app-category>
   <app-product></app-product>
</div>