<div class="mt-16">
   <div>
      <div class="flex relative">
         <div class="w-[50%]">
            <span class="text-5xl ps-4 text-slate-700 font-bold">My Cart</span>
         </div>
         <div
            class=" pb-1 absolute bottom-0 border-2 border-slate-600 right-4 md:right-10 md:px-3 px-2 rounded-full bg-slate-300 hover:bg-slate-600 hover:text-white duration-200 transition ease-in-out">
            <mat-icon class="material-icons-outlined text-sm pt-2">
               arrow_back
            </mat-icon>
            <!-- <button class="items-center">
               Continue Shopping
            </button> -->
         </div>
      </div>
      <app-cart-card></app-cart-card>
   </div>
   <app-cart-checkout></app-cart-checkout>
</div>

